/* Navigation */
#navbar{
    flex-direction: column;

}

#navbar ul li a{
   font-size: 1rem;
   padding: 0px 20px;

}

/* Home section */
#home{
    height: 904px;
    padding: 3px 68px;

}

#home::before{
    height: 1100px;
    width: 1200px;

}

#home p{
    font-size: 21px;
}


/* Services section */
#services{
    flex-direction: column;

}

#services .box{
    padding: 14px 14px;

}

#services .box img{
    height: 76px;
}


/* Clients section */
#clients{
   flex-wrap: wrap;
}

#clients img{
    height: 70px;
    width: 70px;
}
#client-section::before {
    height: 100%;
}

/* Contact Us */
#contact-box input{
    width: 88%;

}

#contact-box button{
    width: 90%;
}

/* Footer */

footer{
    padding: 10px 284px;
}
/* Utility class */
.h-primary {
    font-size: 40px;
}

